<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.bigroi.stock.controller" />
	
	<bean id="property"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:datasourse.properties</value>
			</list>
		</property>
	</bean>

	<bean id="datasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="${data.db.url}" />
		<property name="username" value="${data.db.name}" />
		<property name="password" value="${data.db.pass}" />
	</bean>
	
	<bean id="userDao" class="com.bigroi.stock.dao.db.UserDaoImpl">
		<property name="datasource" ref="datasource"></property>
	</bean>
	
	<bean id="productDao" class="com.bigroi.stock.dao.db.ProductDaoImpl">
		<property name="datasource" ref="datasource"></property>
	</bean>
	
	<bean id="companyDao" class="com.bigroi.stock.dao.db.CompanyDaoImpl">
		<property name="datasource" ref="datasource"></property>
	</bean>

</beans>
