button.submit {
	background-color: #50C878;
	border: 1px solid #50C878;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	color: white;
	font-weight: bold;
	padding: 6px 20px;
	text-align: center;
	    -webkit-transition: 0.8s;
    transition: 0.8s;
}
button.submit:hover {
	background-color: #3e9e5e;
	box-shadow: 0 0 5px 3px rgba(154, 154, 154, 0.3);
    border: 2px solid #3e9e5e;
	cursor: pointer; 
}
button.submit:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset; 
	-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
	-moz-box-shadow: 0 0 10px 5px #356b0b inset;
	-ms-box-shadow: 0 0 10px 5px #356b0b inset;
	-o-box-shadow: 0 0 10px 5px #356b0b inset;
}
button[disabled] {
	background: red;
	border: 1px solid red;
	box-shadow: none;
	}
#new-invite-button {
	width: 252px;
    margin-left: 11px;
    height: 35px;
}	
	