/* === Remove input autofocus webkit === */
*:focus {outline: none;}

/* === Form Typography === */
.form h2, .form label {font-family:Georgia, Times, "Times New Roman", serif;}
.form_hint, .required_notification {font-size: 11px;}

/* === List Styles === */
.form ul {
    width:100%;
    list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
.form ul li:first-child {
    padding-top: 0;
    text-align: center;
}
.form li{
	padding:12px; 
	text-align: center;
} 
/* === Form Header === */
.form h2 {
	margin:0;
	display: inline;
}
.required_notification {
	color:#d45252; 
	margin:5px 0 0 0; 
	display:inline;
	float:right;
}

/* === Form Elements === */
.form input {
	height:20px; 
	width: 52%;
	padding:5px 8px;
}

.form select {
	width:250px !important; 
	padding:5px 8px;
	height: 32px;
}

.form textarea {padding:8px; width:42%;}
.form button {margin-left:2%;}

	/* form element visual styles */
	.form input, .form textarea, .form select { 
		border:1px solid #aaa;
		box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
		border-radius:2px;
		padding-right:30px; 
		-webkit-transition: padding .25s;
		transition: padding .25s;
		width: 210px;
	}
	.form input:focus, .form textarea:focus, form select:focus {
		background: #fff; 
		border:1px solid #555; 
		box-shadow: 0 0 3px #aaa; 
		padding-right: 35px;
	}
/* === HTML5 validation styles === */	
.form input:required, .form textarea:required, .form select:required {
	background: #fff url(/img/red_asterisk.png) no-repeat 98% center;
}
.form input:required:valid, .form textarea:required:valid, .form select:required:valid {
	background: #fff url(/img/valid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #5cd053;
	border-color: #28921f;
}
.form input:focus:invalid, .form textarea:focus:invalid, .form select:focus:invalid {
	background: #fff url(/img/invalid.png) no-repeat 98% center;
	box-shadow: 0 0 5px #d45252;
	border-color: #b03535
}
/* === Form hints === */
.form_hint {
	background: #d45252;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}
.form_hint:before {
	content: "\25C0";
	color:#d45252;
	position: absolute;
	top:1px;
	left:-6px;
}
.form input:focus + .form_hint {display: inline;}
.form input:required:valid + .form_hint {background: #28921f;}
.form input:required:valid + .form_hint:before {color:#28921f;}

.form button#login {
	margin-left: 0;
}
.form button.but-sub,
.form button#save,
.form button#save-start-trading,
div#form-container form.form ul li button.submit {
	margin-left: 0;
    width: 250px;
    margin-bottom: 15px;
    height: 35px;
    margin-top: 10px;

}
.form button#save-start-trading {
	margin-top: 0;
}
form.form.form-tradeOffers {
	margin: 0;
	width: 100%;
}
form.form.form-tradeOffers input {
    border: none;
    box-shadow: none;
    padding-right: 0;
    background: #f3f3f3;
    width: 100%;
    font-weight: bold;
    color: black;
    font-size: 18px;
    text-transform: capitalize;
}
form.form.form-tradeOffers ul li {
	padding: 3px 0;
}
form.form.form-tradeOffers ul li:last-child input {
	background: none;
    font-size: 16px;
    color: #9a9a9a;
    font-weight: normal;
}
