@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:700');
div#lables{
    display: none;
}
html{
    height: 100%;
}
body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	height: inherit;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}
.aside{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    background-color: #00aecc;
    width: 220px;
	color: white;
    text-align: center;
    position: fixed;
    height: 100%;
    
}
.aside .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    font-family: 'Alegreya SC', serif;
    text-align: center;
    vertical-align: middle;
}
.aside .logo p {
    font-size: 550%;
    margin: 0;
}
.aside nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
    width:150px;
}
.aside nav a {
	display: block; 
    width: 100%;
    height: 38px;
    font-size: 20px;
	text-decoration: none;
    text-align: center;
    padding-top: 7px;
    color: white;
    border-radius: 3px;
    margin: 2px 0;
    background-color: rgb(0, 160, 187);
       -webkit-transition: 0.1s;
   transition: 0.1s;
}
.aside nav a:hover {
    background-color: #67d2e6;
}
.aside nav a.active {
    background: white;
	color: black;
}
.section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    width: 85%;
    height: 100%;
    padding: 0 3% 0 3%;
    margin-left: 220px;
}
.section .login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
	border-bottom: 2px solid #dcdcdc;
	min-height: 62px;
	width: 100%;
}
.login a,
.dialogbox-elementContent-session a {
    display: block;
    width: 136px;
    height: 29px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    background: white;
    color: #50C878;
    border: 2px solid #50C878;
    border-radius: 3px;
    padding: 6px 5px;
    margin: 10px;
    box-shadow: none;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}
.login a:hover {
    color: #61ea8f;
    border: 2px solid #61ea8f;
}
.login a:nth-child(2),
.dialogbox-elementContent-session a {
    background: #50C878;
    color: white;
}
.dialogbox-elementContent-session a {
	  margin: 0 auto;
}
  
.login a:nth-child(2):hover {
    background: #61ea8f;
}
.section .table-header {
    margin: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 50px;
}
h1 {
    margin: 0;
    font-size: 36px;
}
.section .add-button {
	margin-right: 10px;
    height: 45px;
    background: #00aecc;
    color: white;
    font-size: 20px;
    border-radius: 3px;
    width: 150px;
    min-width: 146px;
    float: right;
    cursor: pointer;
    background-image: url(/img/plus.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 12px center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
       -webkit-transition: 0.1s;
   transition: 0.1s;
}
.section .add-button:hover {
   background-color: #67d2e6;
}
.section .add-button p {
    padding-left: 13px;
    margin: 0;
}
.aside-footer p:nth-child(2) a{
	margin-bottom: 5px;
    color: #c5c5c5;
    text-decoration:none;
}
.phone-number {
	width: 100%;
    display: block;
    font-size: 22px;
    color: white;
}
.aside-footer > span {
	font-size: 8px;
    margin: 10px 0;
    display: block;
}
form.form {
	width: 270px;
    margin: 0 auto;
}
form.form.form-tradeOffers-button {
	width: 100%;
}
form.form.form-tradeOffers-button ul li:first-child {
	text-align: left;
	padding-left: 0;
}
form.form.form-tradeOffers-button button {
	margin-left: 0;
}
.burger {
	display: none;
}
@media (max-width:900px){
  .section{
    margin-left: 0;
    margin-top: 85px;
    width: calc(100% - 10px);
    padding: 0 5px;
    height: calc(100% - 85px);
  }
  .section .login {
      padding-bottom: 5px;
	}
  .aside {
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: row;
	            flex-direction: row;
	    width: 100%;
	    min-width: 100%;
	    max-width: 100%; 
	    height: 80px;
	    z-index: 4;
    }
    .aside .logo p {
    	font-size: 42px;
    }
    .aside-footer p,
    .aside-footer span {
    	margin:0;
    }
    .burger {
		background-image: url(/img/burger.png);
	    background-repeat: no-repeat;
	    display: block;
	    width: 100px;
    	height: 80px;
    	cursor:pointer;
	    background-position: 50%;
	    -webkit-box-ordinal-group: 0;
	        -ms-flex-order: -1;
	            order: -1;
	}
	.aside nav {
		display:none;
	    position: absolute;
	    top: 80px;
	}
	.aside .logo {
		margin: 0;
	    width: 110px;
	    height: 100px;
	}
	.aside-footer {
		width: 120px;
	    padding-top: 5px;
	    height: 80px;
	    padding-right: 5px;
	}
	.aside-show-menu {
		-webkit-box-align: start;
		    -ms-flex-align: start;
		            -ms-grid-row-align: flex-start;
		        align-items: flex-start;
	}
	.bgdark {
		display:none;
		width: 100%;
	    height: 100%;
	    background-color: #000000;
	    position: absolute;
	    z-index: 3;
	    opacity: 0.5;
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	}
	.dialogbox .dialogbox-child {
		 width: 320px !important;
	}
	.dialogbox {
		 padding-top: 150px  !important;
	}
	.aside-footer p:nth-child(2) a,
	.aside-footer p {
		font-size: 14px;
	}
	.phone-number {
		font-size: 16px;
	}
	h1,
	.content p {
		text-align: center;
	}
	#table-style-mob > div,
	#form-container > div,
	#deal-style-mob > div{
		width: 100% !important;
		display: table-row !important;
	}
	#map-mob-reg,
	#map-mob-acc,
	#map-mob-deal {
		width: 88% !important;
    	margin: 5%;
    	height: 270px !important;
    	position: absolute !important;
    	top: 925px !important;
	}
	#form-container #map-mob-reg {
		top: 980px !important;
	}
	.dialogbox .dialogbox-Content {
		margin-bottom: 210px !important;
	}
	.s-hidden {
		overflow: hidden;
	}
	.login a {
		margin: 5px;
	}
	.section .login {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.table-header h1 {
		font-size: 28px;
	}
	.section .add-button {
		margin-right: 5px;
		width:146px;
	}
	.section .table-header {
    	-ms-flex-pack: distribute;
    	    justify-content: space-around;
	}
}
@media (max-width:520px){
	.table-header h1 {
	    font-size: 22px;
	    padding: 0 5px;
	}
}
.content  {
	padding-bottom: 50px;
}
