@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:700');
div#lables{
    display: none;
}
html{
    height: 100%;
}
body{
    display: flex;
	height: inherit;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}
.aside{
    display: flex;
    flex-direction: column;
	justify-content: space-between;
	align-items: center;
    background-color: #00aecc;
    width: 220px;
	color: white;
    text-align: center;
    position: fixed;
    height: 100%;
    
}
.aside .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    font-family: 'Alegreya SC', serif;
    text-align: center;
    vertical-align: middle;
}
.aside .logo p {
    font-size: 550%;
    margin: 0;
}
.aside nav {
	display: flex;
	flex-direction: column;
    width:150px;
}
.aside nav a {
	display: block; 
    width: 100%;
    height: 38px;
    font-size: 20px;
	text-decoration: none;
    text-align: center;
    padding-top: 7px;
    color: white;
    border-radius: 3px;
    margin: 2px 0;
    background-color: rgb(0, 160, 187);
}
.aside nav a:hover {
    background-color: rgb(30, 120, 220);
}
.aside nav a.active {
    background: white;
	color: black;
 
}
.section {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 85%;
    height: 100%;
    padding: 0 3% 0 3%;
    margin-left: 220px;
}
.section .login {
    display: flex;
    justify-content: flex-end;
	border-bottom: 1px solid silver;
	min-height: 62px;
	width: 100%;
}
.login a {
    display: block;
    width: 10%;
    min-width: 150px;
    height: 29px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    background: white;
    color: #50C878;
    border: 2px solid #50C878;
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
    box-shadow: none;
    transition: 0.8s;
}
.login a:hover {
    box-shadow: 0 0 5px 3px rgba(154, 154, 154, 0.3);
    color: #3e9e5e;
    border: 2px solid #3e9e5e;
}
.login a:nth-child(2) {
    background: #50C878;
    color: white;
}
.login a:nth-child(2):hover {
    background: #3e9e5e;
}
.section .table-header {
    margin: 10px 0px;
}
h1 {
    margin: 0;
    font-size: 36px;
}
.section .add-button {
	margin-right: 10px;
    height: 50px;
	background: #00aecc/*dodgerblue*/;
    color: white;
    font-size: 20px;
	border-radius: 3px;
	width: 160px;
    float: right;
    cursor:pointer;
}
.section .add-button p {
    float: left;
    margin: 0;
    padding-left: 50px;
    padding-top: 10px;
}
.plus {
    float: left;
    margin-left: 5px;
	background: white;
    height: 40px; 
	width: 5px;
    position: relative; 
	left: 22px;
	top: 5px;
	border-radius: 4px;
	}
.plus:after {
	content: "";
	height: 5px; 
	width: 40px;
	background: white;
	position: absolute; 
	left: -18px; 
	top: 17px;
	border-radius: 4px;
}
.aside-footer p:nth-child(2) a{
	margin-bottom: 5px;
    color: #c5c5c5;
    text-decoration:none;
}
.phone-number {
	width: 100%;
    display: block;
    font-size: 22px;
    color: white;
}
.aside-footer > span {
	font-size: 8px;
    margin: 10px 0;
    display: block;
}
form.form {
	width: 270px;
    margin: 0 auto;
}
.burger {
	display: none;
}
@media (max-width:768px){
  .aside{
    width: 170px;
  }
  .section {
    margin-left: 170px;
}
  
}
@media (max-width:375px){
  .section{
    margin-left: 0;
    margin-top: 85px;
    width: calc(100% - 10px);
    padding: 0 5px;
    height: calc(100% - 85px);
  }
  .section .login {
      padding-bottom: 5px;
	}
  .aside {
    flex-direction: row;
    width: 100%;
    min-width: 100%;
    max-width: 100%; 
    height: 80px;
    z-index: 4;
    
    }
    .aside .logo p {
    	font-size: 42px;
    }
    .aside-footer p,
    .aside-footer span {
    	margin:0;
    }
    .burger {
		background-image: url(/img/burger.png);
	    background-repeat: no-repeat;
	    display: block;
	    width: 100px;
    	height: 100px;
	    background-position: 50%;
	    
	}
	.aside nav {
		display:none;
	    position: absolute;
	    top: 80px;
	    left: calc(50% - 80px);
	}
	.aside .logo {
		margin: 0;
	    width: 110px;
	    height: 100px;
	}
	.aside-footer {
		width: 120px;
	    padding-top: 5px;
	    height: 80px;
	    padding-right: 5px;
	}
	.aside-show-menu {
		/*height: 360px;*/
		align-items: flex-start;
	}
	.bgdark {
		display:none;
		width: 100%;
	    height: 100%;
	    background-color: #000000;
	    position: absolute;
	    z-index: 3;
	    opacity: 0.5;
	}
	.dialogbox .dialogbox-child {
		 width: 320px !important;
	}
	.dialogbox {
		 padding-top: 150px  !important;
	}
	.aside-footer p:nth-child(2) a,
	.aside-footer p {
		font-size: 14px;
	}
	.phone-number {
		font-size: 16px;
	}
	h1,
	.content p {
		text-align: center;
	}
	#table-style-mob > div,
	#form-container > div {
		wigth: 100% !important;
		display: table-row !important;
	}
	#map-mob {
		width: 88% !important;
    	margin: 5%;
    	height: 270px !important;
    	position: absolute !important;
    	top: 925px !important;
	}
	#form-container #map-mob {
		top: 980px !important;
	}
	.dialogbox .dialogbox-Content {
		margin-bottom: 210px !important;
	}
	.section-hidden {
		overflow-y: hidden;
	}
	

}


