div#main-table_wrapper {
    overflow: auto;
}
table#main-table tr:nth-child(even) {
    background-color: whitesmoke;
} 
table#main-table td {
    border-bottom: 1px solid black;
}
table#main-table th {
    text-align: left;
    background-color: whitesmoke;
    border-top: 1px solid black;
}
.swtitch-row-on {
    box-sizing: border-box;
    height: 30px;
    width: 60px;
    background-color: #50C878;
    border-radius: 15px;
    position: relative;
    margin: 0 auto;     
}
.swtitch-row-on:after{
    content: "";
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    background-color: white;
    border: 3px solid #50C878;
    border-radius: 50%; 
    position: absolute;
}
.swtitch-row-off {
    box-sizing: border-box;
    height: 30px;
    width: 60px;
    background-color: darkgray;
    border-radius: 15px;
    position: relative;
    margin: 0 auto;  
}
.swtitch-row-off:after{
    content: "";
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    background-color: white;
    border: 3px solid darkgray;
    border-radius: 50%; 
    position: absolute;
    right: 30px;
}
.edit{
    display: inline-block;
    width: 50%;
    height: 30px;
    background-image: url(/img/edit-pencil.png);
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    
}
.remove{
    display: inline-block;
    width: 50%;
    height: 30px;
    background-image: url(/img/remove-trash-can.png);
    background-image: url(/img/remove-trash-can.png);
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.no-edit{
    display: inline-block;
    width: 50%;
    height: 30px;
    background-color: white;
}
table#main-table tr:nth-child(even) td>div.no-edit{
    background-color: whitesmoke;
} 	
table#main-table tr:nth-child(even) td>div.no-remove{
    background-color: whitesmoke;
}

 table#main-table{
  	width: 100% !important;
  }  
table tbody tr td {
 word-break: break-word;
}
  table#main-table{
  	width: 100% !important;
  } 
  div.container {
        width: 80%;
  }
table#main-table tbody tr td:last-child,
table#main-table thead tr th:last-child {
	min-width:40px !important;
	padding: 8px 4px !important;
}   
table#main-table thead tr td:last-child {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}    
 table#main-table th,
 table#main-table tbody tr td{
  text-align: center;
}
table.dataTable thead th {
  	spadding: 5px 15px 5px 5px !important;
}
.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing, 
.dataTables_wrapper .dataTables_paginate {
	padding: 15px 0;
}
.dataTables_wrapper .dataTables_filter input,
select {
	border-radius: 3px;
    border: 1px solid #9E9E9E;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: whitesmoke;
}
@media (max-width:1244px){
	table#main-table th {
    	font-size: 14px;
	}
}
@media (max-width:830px){
 
  table#main-table th{
    font-size: 14px;
  }
  table#main-table td {
  	font-size: 12px;
  } 
} 		