/* Fonts from Google Fonts - https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    background-color: #cfcfcf;/*ffffe0*/
    font-family: "Open Sans", sans-serif;
    padding: 1.5% 0 0 0;
    font-size: 18px;
    margin: 0;
    color: #000;
}
div#tableContainer{
    width: 80%;
    margin: 0 auto;
}
h1 {
    margin: 50px auto;
    text-align: center;
    font-size: 36px;
	color: black;
}
table.sortable {
    display: table;
	width: 100%;
    margin: 0 auto;
	border: 1px black solid;
    border-collapse: collapse;
    background-color: #a8c2c8;/*aaddd0*/
    text-align: center;
    box-shadow: 0 0 15px;
    
}
tbody tr:nth-of-type(odd){
	background-color: #c5d7d2;/*c4e7de*/
}
table.sortable th{
	background-color:#7999a1;
    border: 1px black solid;
   	width: 20%;	
	color: #c5d7d2;
	/*font-weight: normal;*/
}	 
 
table.sortable td {
    border: 1px black solid;
   	width: 20%;
}
table.sortable th.sort:hover {
	/*background-color: #F8E80A;*/
    box-shadow: inset 0 0 4px;
	color: black;
	/*background-color: #80baab;
	color: black;*/
	/*color: #c4e7de;*/
	cursor: pointer;
 }
table.sortable th.sort::before {
	content: "\25bc\25b2";
}
table.sortable th.sort.sortby-asc::before {
	content: "\25b2";
}
table.sortable th.sort.sortby-desc::before {
	content: "\25bc";
}
table.sortable tbody tr:hover {
	/*background-color: #F8E80A;*/
    box-shadow: inset 0 0 5px;
    font-weight: bolder;
	color: black;	
	/*background-color: #80baab;
	color: #c4e7de;*/
	cursor: pointer;
}
div#lables {
	display:none;
}