div#main-table_wrapper {
    overflow: auto;
}
table#main-table tr:nth-child(even) {
    background-color: white;
} 
table#main-table td {
    border-bottom: 1px solid #dcdcdc;
}
table.dataTable.no-footer{
    border-bottom: none;
}

table.dataTable thead th.table-head-up{
    text-align: left;
    background-color: white;
    border-top: 1px solid #dcdcdc; 
    border-bottom: none;
    padding-bottom: 0px;
}

table.dataTable thead th.table-head-down{
    text-align: left;
    background-color: white;
    border-bottom: 1px solid #dcdcdc;
    padding-top: 0px;
}

.swtitch-row-on {
    box-sizing: border-box;
    height: 30px;
    width: 60px;
    background-color: #50C878;
    border-radius: 15px;
    position: relative;
    margin: 0 auto; 
    cursor:pointer;    
}
.swtitch-row-on:after{
    content: "";
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    background-color: white;
    border: 3px solid #50C878;
    border-radius: 50%; 
    position: absolute;
}
.swtitch-row-off {
    box-sizing: border-box;
    height: 30px;
    width: 60px;
    background-color: darkgray;
    border-radius: 15px;
    position: relative;
    margin: 0 auto;  
    cursor:pointer;  
}
.swtitch-row-off:after{
    content: "";
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    background-color: white;
    border: 3px solid darkgray;
    border-radius: 50%; 
    position: absolute;
    right: 30px;
}
.edit{
    display: inline-block;
    width: 50%;
    height: 30px;
    background-image: url(/img/edit-pencil.png);
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    
}
.details{
    display: inline-block;
    width: 100%;
    height: 30px;
    cursor: pointer;
    text-decoration: underline;
    color: #0000ff;
}
.remove{
    display: inline-block;
    width: 50%;
    height: 30px;
    background-image: url(/img/remove-trash-can.png);
    background-image: url(/img/remove-trash-can.png);
    background-size: auto 75%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
/* .no-edit{
    display: inline-block;
    width: 50%;
    height: 30px;
    background-color: white;
}
.no-details{
    display: inline-block;
    width: 50%;
    height: 30px;
    background-color: white;
} */

/*table#main-table tr:nth-child(even) td>div.no-edit{
    background-color: whitesmoke;
} 	
table#main-table tr:nth-child(even) td>div.no-remove{
    background-color: whitesmoke;
}*/

 table#main-table{
  	width: 100% !important;
  }  
table tbody tr td {
 word-break: break-word;
}
  table#main-table{
  	width: 100% !important;
  } 
  div.container {
        width: 80%;
  }
table#main-table tbody tr td:last-child,
table#main-table thead tr th:last-child {
	min-width:40px !important;
	padding: 8px 4px !important;
}   
table#main-table thead tr td:last-child {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}    
 table#main-table th,
 table#main-table tbody tr td{
  text-align: center;
}
table.dataTable thead th {
  	spadding: 5px 15px 5px 5px !important;
}
.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_processing, 
.dataTables_wrapper .dataTables_paginate {
	padding: 15px 5px;
}
.dataTables_wrapper .dataTables_filter, .dataTables_info {
	display: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: white;
}
@media (max-width:1244px){
	table#main-table th {
    	font-size: 14px;
	}
}
@media (max-width:830px){
 
  table#main-table th{
    font-size: 14px;
  }
  table#main-table td {
  	font-size: 12px;
  } 
} 		
.table-tradeOffers table#main-table thead tr th:first-child,
.table-tradeOffers table#main-table tbody tr td:first-child {
	background: #f3f3f3;
}
.table-tradeOffers table#main-table thead tr th:nth-child(2),
.table-tradeOffers table#main-table tbody tr td:nth-child(2) {
	background: #dff5f9;
}
.table-tradeOffers table#main-table thead tr th:last-child,
.table-tradeOffers table#main-table tbody tr td:last-child {
	background: #fbe9d8;
}
.table-tradeOffers table#main-table tbody tr td.dataTables_empty {
	background: transparent;
}
.table-tradeOffers table.dataTable  {
	    border-spacing: 10px 0;
	    border-bottom:0;
}
.table-tradeOffers table#main-table thead tr:first-child th {
	border-top: 0;
}
.table-tradeOffers table#main-table tbody tr:first-child td {
	border-bottom: 0;
}
.table-tradeOffers  {
	width: 55%;
	float: left;
}
.chart {
	width: 45%;
    min-height: 350px;
    background-color: #9e9e9e47;
    float: left;
}
@media (max-width:900px){
	.table-tradeOffers  {
		width: 100%;
		float: none;
	}
	.chart {
		width: 60%;
	    float: none;
	    margin: 10px auto 40px auto;
	}
}
.paginate_button.next,
.paginate_button.previous,
.paginate_button.current {
	/*background-color: whitesmoke;*/
	background-color: white;
	background-size: auto 65%;
    background-repeat: no-repeat;
    background-position: center;
    
    height: 40px;
    
    box-shadow: 0 0 4px 2px rgba(221, 221, 221, 1)  !important;
    
         -webkit-transition: 0.1s;
     transition: 0.1s;
}
.paginate_button.next:hover,
.paginate_button.previous:hover {
    box-shadow: 0 0 6px 3px rgba(221, 221, 221, 1)  !important;
}
.paginate_button.next {
	background-image: url(/img/next.png);
	margin-left: 20px !important;
	width: 50px;
}
.paginate_button.previous {
	background-image: url(/img/previous.png);
	margin-right: 20px !important;
	width: 50px;
}
.paginate_button.current {
	width:30px;
	 box-shadow: none!important;
	 background-color: #50C878 !important;
	 color: white !important;
}
.dataTables_paginate.paging_simple_numbers span .paginate_button {
	 position: relative;
     bottom: 14px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	 padding: 0.5em 0;
}
.inactive-row {
	color: #a7a7a7;
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, 
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
	top: 14px;
	line-height: 15px;
}
/*table#main-table tr.child > th, 
table#main-table tbody tr.child > td {
	text-align: left;
}*/