<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	     http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		 http://www.springframework.org/schema/context
		 http://www.springframework.org/schema/context/spring-context-4.3.xsd
		 http://www.springframework.org/schema/tx
		 http://www.springframework.org/schema/tx/spring-tx-4.3.xsd ">

	<import resource="classpath:spring-dao.xml" />

	<tx:annotation-driven proxy-target-class="true"
		transaction-manager="transactionManager" />

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="datasource" />
	</bean>

	<bean id="userService" class="com.bigroi.stock.service.impl.UserServiceImpl"
		lazy-init="true">
		<property name="userDao" ref="userDao" />
		<property name="companyDao" ref="companyDao" />
		<property name="userRoleDao" ref="userRoleDao" />
		<property name="keysDao" ref="keysDao"/>
		<property name="addressDao" ref="addressDao"/>
	</bean>

	<bean id="companyService" class="com.bigroi.stock.service.impl.CompanyServiceImpl">
		<property name="lotDao" ref="lotDao" />
		<property name="tenderDao" ref="tenderDao" />
		<property name="companyDao" ref="companyDao" />
	</bean>

	<bean id="lotService" class="com.bigroi.stock.service.impl.LotServiceImpl">
		<property name="lotDao" ref="lotDao" />
		<property name="productDao" ref="productDao" />
	</bean>

	<bean id="productService" class="com.bigroi.stock.service.impl.ProductServiceImpl">
		<property name="productDao" ref="productDao" />
		<property name="lotDao" ref="lotDao" />
		<property name="tenderDao" ref="tenderDao" />
	</bean>
	
	<bean id="marketService" class="com.bigroi.stock.service.impl.MarketServiceImpl">
		<property name="lotDao" ref="lotDao" />
		<property name="tenderDao" ref="tenderDao" />
		<property name="dealDao" ref="dealDao" />
	</bean>
	
	<bean id="messageService" class="com.bigroi.stock.service.impl.MessageServiceImpl">
		<property name="emailDao" ref="emailDao" />
	</bean>

	<bean id="tenderService" class="com.bigroi.stock.service.impl.TenderServiceImpl">
		<property name="tenderDao" ref="tenderDao"></property>
		<property name="productDao" ref="productDao" />
	</bean>

	<bean id="dealService" class="com.bigroi.stock.service.impl.DealServiceImpl">
		<property name="blacklistDao" ref="blacklistDao"/>
		<property name="dealDao" ref="dealDao"/>
		<property name="lotDao" ref="lotDao" />
		<property name="tenderDao" ref="tenderDao" />
		<property name="companyDao" ref="companyDao" />
	</bean>
	
	<bean id="tradeService" scope="prototype"
		class="com.bigroi.stock.service.impl.TradeServiceImpl">
		<property name="dealDao" ref="dealDao" />
		<property name="lotDao" ref="lotDao" />
		<property name="tenderDao" ref="tenderDao" />
		<property name="productDao" ref="productDao" />
	</bean>

	<bean id="addressService" class="com.bigroi.stock.service.impl.AddressServiceImpl">
		<property name="addressDao" ref="addressDao"/>
	</bean>

</beans>