<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.3.xsd ">

	<bean id="property"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:datasourse.properties</value>
			</list>
		</property>
	</bean>

	<bean id="datasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="${data.db.url}" />
		<property name="username" value="${data.db.name}" />
		<property name="password" value="${data.db.pass}" />
	</bean>

	<bean id="userDao" class="com.bigroi.stock.dao.db.UserDaoImpl">
		<property name="datasource" ref="datasource" />
	</bean>

	<bean id="productDao" class="com.bigroi.stock.dao.db.ProductDaoImpl">
		<property name="datasource" ref="datasource" />
	</bean>

	<bean id="companyDao" class="com.bigroi.stock.dao.db.CompanyDaoImpl">
		<property name="datasource" ref="datasource" />
	</bean>

	<bean id="lotDao" class="com.bigroi.stock.dao.db.LotDaoImpl">
		<property name="datasource" ref="datasource" />
	</bean>

	<bean id="tenderDao" class="com.bigroi.stock.dao.db.TenderDaoImpl">
		<property name="datasource" ref="datasource" />
	</bean>

	<bean id="dealDao" class="com.bigroi.stock.dao.db.DealDaoImpl">
		<property name="datasource" ref="datasource" />
	</bean>

	<bean id="blacklistDao" class="com.bigroi.stock.dao.db.BlacklistDaoImpl">
		<property name="datasource" ref="datasource" />
	</bean>

	<bean id="preDealDao" class="com.bigroi.stock.dao.db.PreDealDaoImpl">
		<property name="datasource" ref="datasource" />
	</bean>

	<bean id="emailDao" class="com.bigroi.stock.dao.db.EmailDaoImpl">
		<property name="datasource" ref="datasource" />
	</bean>

</beans>
