<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task-4.3.xsd ">
	
	<bean id="send" class="com.bigroi.stock.jobs.SendEmail"></bean>
	
	<task:scheduled-tasks>
		<task:scheduled ref="send" method="run" cron="0 */30 * * * *"/>
	</task:scheduled-tasks>

	<bean id="trading" class="com.bigroi.stock.jobs.Trading"></bean>

	<task:scheduled-tasks>
		<task:scheduled ref="trading" method="run" cron="0 0 9,21 * * *"/>
	</task:scheduled-tasks>
	
	<bean id="deleteInviteUser" class="com.bigroi.stock.jobs.DeleteInviteUser"></bean>

	<task:scheduled-tasks>
		<task:scheduled ref="deleteInviteUser" method="run" cron="0 0 0 */2 * * "/>
	</task:scheduled-tasks>

</beans>