/**/
*, *:before, *:after {
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
aside a, main .login a {
    display: block;
    width: 170px;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

/*Page: */

html{
    height: 100%;
}
body{
    display: flex;
	height: inherit;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

/*Aside: */

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: none;
    position: relative;
    width: 220px;
    height: inherit;
    background-color: #abcdef; 
}
aside .logo{
    margin-top: 40px;
    font-size: 300%;
    text-align: center;
}
aside nav{
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
aside nav a:not(:last-child) {
    margin-bottom: 5px;
}
aside nav a {
    border-color: #00aecc;
    background-color: #00aecc;
    color: #ffffff;
}
aside nav a:hover {
    border-color: #5fcee2;
    background-color: #5fcee2;
    color: #ffffff;
}
aside nav a.active {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #000000;
}
aside .burger-container {
    display: none;
	cursor: pointer;
}

/* Main: */

main {
	/*width: 100%;*/
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    background-color: #fdcbae;
}
main .login {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    border-bottom: 1px solid #aaaaaa;
}
main .login a.reg {
    border-color: #50c878;
    background-color: #ffffff;
    color: #50c878;
}
main .login a.reg:hover {
    border-color: #61ea8f;
    background-color: #ffffff;
    color: #61ea8f;
}
main .login a.log {
    margin-left: 20px; 
    border-color: #50c878;
    background-color: #50c878;
    color: #ffffff;
}
main .login a.log:hover {
    border-color: #61ea8f;
    background-color: #61ea8f;
    color: #ffffff;
}
main .mask {
    display: none;
} 
/*Table styles: 

main table {
    width: 80%;
	margin: 0 auto;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}
main table th,
main table td {
    border: 1px solid black;
} */

/*Media: */

@media (max-width: 1200px) {
    body {
        flex-direction: column;   
    }
    aside {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        background-color: #abcdef; 
    }
    aside .logo {
        margin: 0;
        font-size: 100%;
        text-align: center;
        margin-left: 50px;
    }
    aside nav {
        display: none;
    }
    aside .nav-mobile { /*??????*/
        display: flex;
        position: absolute;
        top: 50px;
        left: 0px;
        padding: 10px;
        border-radius: 5px;
        background-color: #999999;
        z-index: 2;
    }
    aside .burger-container {
        display: block;
        width: 50px;
        height: 30px;
        margin-right: 50px;
        position: relative;
    }
    aside .burger {
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
        transition: none; /*????*/
    }
    .burger:before,
    .burger:after {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: #ffffff;
        position: absolute;
        
    }
    .burger:before {
        top: 10px;
    }
    .burger:after {
        bottom: 10px;
    }
    aside .x-burger {
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: #abcdef;
        position: absolute;
        top: 50%;
    }
    .x-burger:before,
    .x-burger:after {
        content: "";
        display: block;
        width: 80%;
        height: 5px;
        border-radius: 2px;
        background-color: #ffffff;
        position: absolute;
}
    .x-burger:before {
        left: 5px;
        transform: rotate(45deg);
    }
    .x-burger:after {
        left: 5px;
        transform: rotate(-45deg); /* 135deg */
    }
    main {
        position: relative;
    }
    main .mask {
		display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
    }
@media (max-width: 960px) {
    main .login a {
        line-height: 30px;
        height: 30px;
    }
    aside nav a:not(:last-child) {
        margin-bottom: 10px;
    }
    main {
        padding: 10px;
    }
    main .login {
        padding-bottom: 10px;
    }
	main table {
        width: 90%;
    }
}
@media (max-width: 640px) {
    aside .logo {
        margin-left: 25px;
    }
    aside .burger-container {
		width: 40px;
        margin-right: 25px;
    }
    main .login {
        justify-content: space-between;
        padding-bottom: 10px;
        border-bottom: 1px solid #aaaaaa;
    }
    main .login a {
        width: 150px;
    }
    main table {
        width: 100%;
    }
}



