@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
div#lables{
    display: none;
}
html{
    height: 100%;
}
body{
    display: flex;
	height: inherit;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.aside{
    display: flex;
    flex-direction: column;
	justify-content: space-between;
    background-color: dodgerblue;
    width: 15%;
	color: white;
    text-align: center;
    padding: 20px 0 20px 0;
}
.aside .logo {
    border: 5px solid white;
    border-radius: 50%;
    margin: 5px;
}
.aside nav {
	display: flex;
	flex-direction: column;
}
.aside nav a {
	display: block; 
    width: 100%;
    height: 40px;
    font-size: 16px;
	text-decoration: none;
    text-align: center;
    padding-top: 5px;
    color: white;
}
.aside nav a:hover {
    background-color: royalblue;
}
.aside nav a.active {
	background-color: whitesmoke;
	color: dodgerblue;
}
.section {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 85%;
    height: 100%;
    padding: 0 5% 0 5%;
}
.section .login {
    display: flex;
    justify-content: flex-end;
}
.login a {
    display: block; 
    width: 10%;
    height: 40px;
    font-size: 16px;
	text-decoration: none;
    text-align: center;
	color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 5px;
    margin-top: 20px;
}
h1 {
    margin:   2% auto;
    text-align: center;
    font-size: 36px;
}
.section button {
    /*height: 40px;*/
    font-size: 22px;
	text-decoration: none;
    text-align: center;
    background-color: whitesmoke;
	color: black;
    border: 1px solid black;
    border-radius: 5px;
    float: right;
    padding: 20px;
}
.section .table-header {
    margin-bottom: 20px;
}

